/* .Topcontainer{
    display: flex;
    flex-wrap: wrap;
} */
* {
    padding: 10;
    margin: 10;
  }
.background{

    position: absolute;
    height: 200%;
    width: 100%;
}
.center{
  color: white;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: left;
  background-size: cover;
  height: 500px;
}

.each-slide span {


  padding-right:20px;
  text-align: left;
}
@tailwind base;
@tailwind utilities;
