.imageStyle
{
    height: 1000;
    width: auto;
    object-fit: cover;
    object-position: bottom;
}

.inlineStyle 
{
    /* background: #fff; */
    font-size: 125px;
    color: #fff;
    left: 50%;
    top: 50%;
    position: absolute;
    padding: 20px;
    transform: translate(-50%, -50%);
}
.background
{
    background-color: #1E2125;
}
.title
{
    text-align: left;
    font-size: 100px;
    padding-left: 50px;
    text-transform: uppercase;
}
.description
{
    color: #fff;
}
