
.imageStyle
{
    height: 1000;
    width: auto;
    object-fit: cover;
    object-position: bottom;
}

.inlineStyle 
{
    font-size: 125px;
    text-align: center;
    color: #fff;
    left: 50%;
    top: 50%;
    position: absolute;
    padding: 20px;
    transform: translate(-50%, -50%);
}
.background-story-page
{
    background-color: #1E2125;
}
.description
{
    color: #fff;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}
.description-title
{
    font-size: 100px;
    padding-top: 50px;
}
.paragraph
{
    font-size: 30px;
    padding-bottom: 80px;
}
.experience
{
    color: #fff;
    font-size: 100px;
    padding-bottom: 30px;
}
.featured-products
{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 150px;
    text-align: center;
}
.horizontal-line
{
    color: white; 
    margin-left: 150px; 
    margin-right: 150px; 
    border: 1.5px solid #fff;
    border-radius: 10px 10px 10px 10px;
    margin-top: 50px;
}

.button {
    transition-duration: 0.2s;
    height: 80px;
    width: 306px;
    font-size: 30px;
    letter-spacing: 6px;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 60px;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: black; 
    color: white;
  }